* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 48px;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin-inline: auto;
}

.background {
    width: 100vw;
    height: 50%;
    position: absolute;
    background-color: #145DA0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 100%);
    z-index: -1;
}

header {
    display: flex;
    align-items: center;
}

header img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: 3px 3px 25px 1px rgb(99, 99, 99);
    padding: 24px;
    background-color: #FFF;
    max-width: 66ch;
}

.about-container nav {
    font-size: 1.5rem;
    display: flex;
    gap: 10px;
    margin-left: auto;
}

a, a:visited {
    text-decoration: none;
    color: black;
    transition: transform 0.2s ease-in-out;
}

a:hover {
    transform: scale(1.2);
}

.image-container {
    position: relative;
}

.image-container p {
    bottom: 0;
    position: absolute;
    color: rgb(243, 243, 243);
    font-size: 48px;
    width: 400px;
    text-align: center;
}

@media (max-width: 1024px) and (min-width: 600px) {
    .background {
        height: 35%;
    }

    header {
        display: block;
        padding: 0;
    }

    .about-container {
        display: block;
        margin: 6rem auto;
        max-width: 65ch;
    }

    .about-container nav {
        display: none;
    }

    .image-container p {
        top: 0;
        right: 0;
    }

    header img {
        float: left;
        width: 300px;
        height: 300px;
        margin: 0 2rem 1rem -4rem;
    }
}

@media (max-width: 599px) {
    .background {
        height: 40%;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    .about-container {
        box-shadow: none;
        padding: 0;
        margin-top: 2rem;
        gap: 0.5rem;
    }

    .about-container nav {
        margin-top: 1rem;
        margin-inline: auto;
    }
}
