* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 48px;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin-inline: auto;
}

header {
    display: flex;
    align-items: center;
}

header img {
    width: 400px;
    height: auto;
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: 3px 3px 5px 1px rgb(217, 217, 217);
    padding: 24px;
}

.about-container nav {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

a, a:visited {
    text-decoration: none;
    color: black;
    transition: transform 0.2s ease-in-out;
}

a:hover {
    transform: scale(1.2);
}

.image-container {
    position: relative;
}

.image-container p {
    bottom: 0;
    position: absolute;
    color: rgb(243, 243, 243);
    font-size: 48px;
    width: 400px;
    text-align: center;
}
